@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
  cursor: url("../assets/cursor.png"), auto;
}

.cursor {
  z-index: 999;
  position: fixed;
  background: #eeeeee;
  /* border: 3px solid #ffffff; */
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  /* box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8; */
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

.showcaseBg {
  background: url(../assets/bgShowcase.png) fixed no-repeat;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate12 {
  transform: rotate(12deg);
}

.rotate {
  animation: rotation 9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.downAlt > :nth-child(even) {
  padding-top: 30px;
}

/* .lefting > :nth-child(even) {
  padding-left: 90px;
}

.lefting > :nth-child(odd) {
  padding-right: 90px;
} */
